*{
    margin: 0;
    padding: 0;
}

.btn-primary{
    background-color: #F15B22;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 20px 26px;
}


/* Banner  style section start  */

.banner-container{
    background-image: url("images/banner/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-details{
    max-width: 845px;
    height: 100vh;
    color: white;
    text-align: right;
    margin: 0 auto; 
}

.banner-title{
    padding-top: 200px;
    font-size: 65px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 16px;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 20px;
}

/* Banner  style section end  */
